* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1000px;
}
div#container {
  min-width: 310px;
  height: 400px;
}
div.controls {
  text-align: center;
  margin-top: 40px;
}
div.controls span {
  margin-right: 20px;
  display: inline-block;
}
div.controls span button {
  padding: 0 5px;
}
